:root {
  --color-white: #fff;
  --color-bg: #014e56;
  --color-green: #014e56;
  --color-orange: #f67e7e;
  --color-light-green: #79c8c7;
  --color-dark-green-bg: #012F34;
  --color-dark-green-bg-features: #004047;
  --color-dark-green-bg-footer: #002529;
}

/* FONTS */

/* livvic-regular - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/livvic-v11-latin-regular.woff2") format("woff2"),
    url("../fonts/livvic-v11-latin-regular.woff") format("woff");
  font-display: swap;
}

/* livvic-600 - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("../fonts/livvic-v11-latin-600.woff2") format("woff2"),
    url("../fonts/livvic-v11-latin-600.woff") format("woff");
  font-display: swap;
}

/* livvic-700 - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/livvic-v11-latin-700.woff2") format("woff2"),
    url("../fonts/livvic-v11-latin-700.woff") format("woff");
  font-display: swap;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Livvic", sans-serif;
  color: var(--color-white);
}

a {
  text-decoration: none;
}

a:hover {
  transition: 0.3s ease;
}

a:active {
  opacity: 0.8;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1160px;
  padding-right: 25px;
  padding-left: 25px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  cursor: pointer;
  border: 2px solid var(--color-white);
  border-radius: 24px;
  padding: 7px 31px 9px 30px;
  color: var(--color-white);
  background-color: transparent;
}

/* HEADER */

.header {
  padding-top: 75px;
  padding-bottom: 130px;
  background-color: var(--color-bg);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 100%;
  max-width: 160px;
  height: 40px;
  margin-right: 80px;
}

.logo {
  display: block;
}

.header__wrapper {
  display: flex;
  width: 100%;
}

.header__wrapper a {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-white);
}

.sitenav {
  display: flex;
  align-items: center;
}

.sitenav__list {
  display: flex;
  align-items: center;
}

.sitenav__item {
  margin: 0;
}

.sitenav__item:not(:last-child) {
  margin-right: 40px;
}

.sitenav__link {
  color: var(--color-white);
}

.sitenav__link:hover {
  color: var(--color-orange);
}

.header___link {
  margin-left: auto;
}

.header___link:hover {
  color: var(--color-green);
  background-color: var(--color-white);
}

/* MAIN */
.main {
  flex-grow: 1;
}

/* HERO */
.hero {
  background: url(../img/header-circle-dark.svg) no-repeat, url(../img/header-circle-red.svg) no-repeat;
  background-position: left -100px top, right 100px bottom -100px;
  background-color: var(--color-bg);
}

.hero__container {
  display: flex;
  padding-bottom: 250px;
}

.hero__title {
  width: 100%;
  margin: 0;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: var(--color-white);
  margin-right: 30px;
}

.hero__title-orange {
  color: var(--color-orange);
}

.hero__text {
  width: 100%;
  display: flex;
  align-items: flex-end;
  position: relative;
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.hero__text::before {
  content: "";
  top: 0;
  position: absolute;
  width: 50px;
  height: 4px;
  background-color: var(--color-light-green);
}


/* ARTICLES */
.articles {
  background: url(../img/hero-circle-icon.svg) no-repeat;
  background-position: right bottom;
  background-color: var(--color-dark-green-bg);

}

.articles__info {
  padding: 140px 0;
  display: flex;
}

.articles__title {
  width: 100%;
  max-width: 445px;
  margin: 0;
  margin-right: 125px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
}

.articles__box {}

.box {}

.box__section {
  display: flex;
}

.box__section:not(:last-child) {
  margin-bottom: 32px;
}

.box__icon {
  display: block;
  margin-right: 23px;
}

.box__info {}

.box__heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-orange);
}


.box__text {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.8;
}

/* FEATURES */
.features {
  background: url(../img/features-bg-left.svg) no-repeat, url(../img/features-bg-right.svg) no-repeat;
  background-position: top left, right bottom -100px;
  background-color: var(--color-dark-green-bg-features);
}

.features__info {
  padding: 140px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__title {
  width: 100%;
  max-width: 932px;
  margin: 0;
  margin-bottom: 56px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.features__title-green {
  color: var(--color-light-green);
}

.features__cards {
  padding-top: 36px;
  display: flex;
}

.features__card:not(:last-of-type) {
  margin-right: 30px;
}

.card {
  background: url(../img/icon-quotes.svg) no-repeat top center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 350px;
}

.card__text {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;

}

.card__author {
  margin-top: 0;
  margin-bottom: 2px;
}

.card__author-position {
  margin-top: 0;
  margin-bottom: 32px;

}

.card__img {
  display: block;
  border-radius: 50%;
}


/* CTA */
.cta {
  background: url(../img/cta-bg.svg) no-repeat;
  background-position: left bottom -100px;
  background-color: var(--color-orange);
}

.cta__box {
  padding: 76px 0;
  display: flex;
  align-items: center;
}

.cta__title {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: var(--color-dark-green-bg);
}

.cta__link {
  margin-left: auto;
  border: 2px solid var(--color-dark-green-bg);
  color: var(--color-dark-green-bg);
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.cta__link:hover {
  background-color: var(--color-dark-green-bg);
  color: var(--color-white);
}

/* FOOTER */
.footer {
  background-color: var(--color-dark-green-bg-footer);
}

.footer__main {
  display: flex;
  padding: 48px 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: var(--color-white);

}

.footer__main-wrapper {
  flex-direction: column;
  margin-right: 125px;
}

.foooter__logo {}

.logo {}


.footer__sitenav {
  margin-top: 25px;
  padding: 0;
}

.footer__adress {}

.footer__list {}

.footer__item {
  opacity: 0.6;
}


.footer__networks {
  margin-left: auto;
  text-align: right;
}

.footer__networks-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__networks-link {
  display: block;
}

.footer__networks-link:not(:last-child) {
  margin-right: 16px;
}

.footer__networks-icon:hover path {
  fill: var(--color-orange);
  transition: 0.3s ease;
}

.footer__networks-copyright {
  margin: 0;
  padding-top: 50px;
  opacity: 0.6;
}